body{
    background-color: #caa05a;
}

ul{
    display: inline-block;
}


.card{
    margin: 50px;
}

.card-img-top{
    width: 100%;
    height: 360px;
}

.card-group{
    width: 1200px;
}

.card{
  margin: 10px;    
  padding: 5px;
  text-align: justify;
  color: black;
    
}


.cardtitle{
  margin: 3px;
  color: white;
  text-align: justify;
  
}

.cardtext{
  margin: 3px;
  color: white;
  text-align: justify;
}


.card-bg{
  margin: 25px;    
  padding: 3px;
  float: right;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}

@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}

